[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*"
click = "*"
numba = "*"
pandas = "*"

[dev-packages]
tox = "*"
ipdb = "*"
ipython = "*"
line-profiler = "*"

[requires]
python_version = "3.9"
