[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*"
click = "*"
numba = "*"
pandas = "*"
seaborn = "*"
dash = "*"
sqlalchemy = "*"
psycopg2 = "*"
requests = "*"
fastapi = "*"
python-dotenv = "*"
flask-classful = "*"
flask-login = "*"
flask-sqlalchemy = "*"

[dev-packages]
tox = "*"
ipdb = "*"
ipython = "*"
line-profiler = "*"

[requires]
python_version = "3.9"
